h4 {
    color: red !important;
}

.dropdown-item:focus, .dropdown-item:hover {
     color: #1d1e1f !important;
}

.progress, .progress-bar {
    border-radius: 0 !important;
}

.minerID {
	font-weight: bold;
	font-size: 1.5rem;
}

th {
	white-space: nowrap;
	width: 1%;
}

.form-group {
    margin-bottom: 0 !important;
}

#miner3_pwr .slider-selection {
	background: #BABABA;
}

#search {
	border: 1px solid #5cb85c;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa-spinner {
	display: none;
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa-spinner  { left:  0px;}
.right-addon .fa-spinner { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.fa-spin-custom, .fa, .fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
